################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/libs
/.vs
/NetLib/.vs/NetLib/v16
/NetLib/NetLib/obj
/NetLib/.vs/NetLib/DesignTimeBuild/.dtbcache
/NetLib/.vs/NetLib/DesignTimeBuild
/NetLib/NetLib/bin/Debug/netstandard2.0
